@import url("nature.css");

.caption { font-style: italic; 
           font-weight: bold;
           font-size: 80%;
         }

.figure { margin-top: 2em;
          margin-bottom: 2em;
          margin-left: 3em; }

tr.field th, tr.field td { padding-bottom: 1em; }

